.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    align-items: stretch;
    height: 500px;
}

.item {
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-left: 10px;
}

.subtitle {
    text-align: center;
}